.my-profile-title {
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--text-on-secondary);
  margin-bottom: 2rem;
}

.avatar {
  height: 150px;
  width: 150px;
  background-color: var(--secondary-light);
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}