:root {
  --background: #374151;
  --text-on-background: #EEF4ED;
  --accent: #EC9A20;
  --container: #EEF4ED;
  --text-on-container: #374151;
  --secondary: #0F8B8D;
  --secondary-light: #329192;
  --text-on-secondary: #374151;
}
